backup/
.next/
node_modules/
vendor/
.git/
.checksums
cache/
debug/
file-history/
history.jsonl
paste-cache/
projects/
session-env
settings.*
shared/
shell-snapshots/
stats-cache.json/
statsig/
todos/
